.header {
    position: relative;
    padding-top: 40px;
    background-image: url(./../img/header-bg.jpg);
    background-size: cover;
    aspect-ratio: 1440 / 1084;
    color: var(--white);
    @include retina-bg(url(./../../img/header-bg2x.jpg));
    a {
        color: var(--white);
    }
    @include tablet () {
        position: static;
        background-position: center;
        aspect-ratio: unset;
        padding-bottom: 100px;
    }
}

.header__content {
    margin: 0 auto;
    text-align: center;
    max-width: 880px;
}
.header__title {
    text-wrap: balance;
    font-size: clamp(28px, 0.821rem + 4.64vw, 80px);
    font-weight: 700;
    line-height: 130%;
    text-transform: capitalize;
    margin-bottom: 15px;
}
.header__subtitle {
    opacity: 0.8;
    font-size: clamp(16px, 0.857rem + 0.71vw, 24px);
    margin: 0 auto;
    max-width: 600px;
    text-wrap: balance;
    line-height: 160%;
    margin-bottom: clamp(10px, 0rem + 3.125vw, 45px);
}
.search-form {
    margin: 0 auto;
    max-width: 344px;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    padding: 8px 8px 8px 20px;
    border: 0.86px solid rgba(255, 255, 255, 0.6);
    border-radius: 42px;
    backdrop-filter: blur(8px);
    background: rgba(255, 255, 255, 0.15);
    @include mobile(){
        display: none;
    }
}
.search-form__input {
    flex-grow: 1;
    color: #fff;
    font-size: 18px;
    line-height: 150%;
    &::placeholder {
        opacity: 0.8;
        color: #fff;
    }
}
.search-form__btn {
    flex-shrink: 0;
    padding: 11px;
    background: var(--accent);
    border-radius: 50%;
}

// dots

.header__dot-sofa {
    position: absolute;
    left: 21%;
    top: 63.2%;
    @include tablet(){
        display: none;
    }
}

.header__dot-vase {
    position: absolute;
    left: 7.9%;
    top: 69.5%;
    @include tablet(){
        display: none;
    }
}

.header__dot-lamp {
    position: absolute;
    left: 55.3%;
    top: 72.7%;
    @include tablet(){
        display: none;
    }
}

.header__dot-wall {
    position: absolute;
    left: 95.8%;
    top: 75.8%;
    @include tablet(){
        display: none;
    }
}



