.read-more {
    display: inline-flex;
    gap: 13px;
    justify-content: flex-start;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 185%;
    color: var(--accent);
    &::after {
        content: url(./../../img/icons/right-arrow.svg);
        height: 24px;
    }

}

